body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   background-image: url("./public/images/green_background.jpg");
 }
 
 html {
   position: relative;
   min-height: 100%;
 }
 
 main {
   margin: 80px 0;
 }
 
 .block {
   background-color: #fff;
   padding: 30px;
   margin-bottom: 30px;
 }
 
 .block-header {
   color: #4aaaa5;
   font-family: Georgia, Times, "Times New Roman", serif;
   font-weight: bold;
 }
 
 #logo {
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 24px;
   font-weight: bold;
   color: #fff;
   background: #4aaaa5;
 }
 
 .navbar-default .navbar-nav > li > a:hover {
   color: #4aaaa5;
 }
 
 .navbar {
   background: white;
   border: none;
 }
 
 @media only screen and (max-width: 767px) {
   .navbar-header {
     background-color: #4aaaa5;
   }
 }
 
 .connect-header {
   font-size: 25px;
 }
 
 .connect-photo {
   width: 55px;
   height: 55px;
 }
 
 #images {
   padding-top: 15px;
   text-align: center;
 }
 
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: #666;
 }
 
 .text-muted-footer {
   margin-top: 15px;
   color: #fff;
 }
 
 .two-toned-footer-color {
   height: 6px;
   padding-top: 3px;
   background-color: #4aaaa5;
 }
 
 .about-me-header {
   margin-bottom: 33px;
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 32px;
   font-weight: bold;
   color: #4aaaa5;
 }
 
 #about-image {
   float: left;
   width: 200px;
   margin: 0 20px 10px 0;
 }
 
 .port-image {
   margin: 20px auto;
   height: 400px;
   width: 400px;
   border: 1px solid black;
   border-radius: 20px;
   cursor: pointer;
 }
 
 .form-control {
   border-radius: 0;
   min-width: 100%;
   max-width: 100%;
 }
 
 .submit-btn {
   padding: 15px 30px;
   font-size: 16px;
   font-weight: lighter;
   color: #fff;
   background-color: #4aaaa5;
   border: 0;
 }
 
 .submit-btn:hover {
   opacity: .7;
 }
 
 .portfolio-titles {
   float: left;
   font-size: 1.5em;
 }
 
 .github {
   float: right;
   height: 50px;
   width: 50px;
   cursor: pointer;
 }
 
 .collapse-btn {
   float: right;
   margin-top: 5px;
   height: 40px;
   width: 60px;
 }
 
 .contact-link {
   color: black;
 }
 
 .control-label {
   font-weight: bold;
   cursor: text;
 }
 
 .contact-link:hover {
   color: blue;
 }
 
 /* .modal-dialog {
    overflow-y: initial;
 }
 
 .modal-body {
    height: 400px;
    overflow-y: auto;
 } */
 
 .modal-image {
    width: 350px;
    height: 250px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 5px;
 }